services:

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus:/etc/prometheus
      - prometheus-data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--storage.tsdb.retention.time=15d"
      - "--web.enable-lifecycle"
      - "--storage.tsdb.min-block-duration=2h"
      - "--storage.tsdb.max-block-duration=2h"
    deploy:
      resources:
        limits:
          memory: 1.5G
        reservations:
          memory: 512M

  thanos-sidecar:
    image: quay.io/thanos/thanos:v0.40.0
    container_name: thanos-sidecar
    user: root
    restart: unless-stopped
    volumes:
      - prometheus-data:/prometheus
      - ./thanos-s3.yml:/etc/thanos/s3.yml
    command:
      - "sidecar"
      - "--tsdb.path=/prometheus"
      - "--prometheus.url=http://10.100.0.1:9090"
      - "--objstore.config-file=/etc/thanos/s3.yml"
      - "--http-address=0.0.0.0:19191"
      - "--grpc-address=0.0.0.0:19090"
    ports:
      - "19191:19191"
      - "19090:19090"
    depends_on:
      - prometheus

  alertmanager:
    image: prom/alertmanager:latest
    container_name: alertmanager
    restart: unless-stopped
    ports:
      - "9093:9093"
    volumes:
      - ./alertmanager:/etc/alertmanager
      - alertmanager-data:/alertmanager
    command:
      - "--config.file=/etc/alertmanager/alertmanager.yml"
    deploy:
      resources:
        limits:
          memory: 256M
        reservations:
          memory: 128M

  snmp-exporter:
    image: prom/snmp-exporter:latest
    container_name: snmp-exporter
    restart: unless-stopped
    ports:
      - "9116:9116"
    command: "--config.file=/etc/snmp_exporter/snmp.yml"
    volumes:
      - /home/ubuntu/MonitoringSystem/snmp_exporter/snmp.yml:/etc/snmp_exporter/snmp.yml:ro

  blackbox-exporter:
    image: quay.io/prometheus/blackbox-exporter:latest
    container_name: blackbox-exporter
    restart: unless-stopped
    ports:
      - "9115:9115"
    volumes:
      - ./blackbox:/etc/blackbox
    command:
      - "--config.file=/etc/blackbox/blackbox.yml"
    cap_add:
      - NET_RAW
    deploy:
      resources:
        limits:
          memory: 128M
        reservations:
          memory: 64M
  incident-webhook:
    build: ../incident-webhook
    container_name: incident-webhook
    restart: unless-stopped
    ports:
      - "5000:5000"
    env_file:
      - .env
    deploy:
      resources:
        limits:
          memory: 256M
        reservations:
          memory: 128M
  loki:
    image: grafana/loki:2.9.3
    container_name: loki
    restart: unless-stopped
    ports:
      - "3100:3100"
    volumes:
      - ./loki:/etc/loki
      - loki-data:/loki
    command: -config.file=/etc/loki/loki-config.yaml

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    privileged: true
    restart: always
    ports:
      - 8080:8080
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk:/dev/disk:ro
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    devices:
      - /dev/kmsg
    depends_on:
      - redis
    deploy:
      resources:
        limits:
          memory: 256M
        reservations:
          memory: 128M

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - 6379:6379
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 128M


volumes:
  prometheus-data:
  alertmanager-data:
  loki-data:
