server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
- job_name: system
  static_configs:
  - targets:
      - debx240
    labels:
      job: varlogs
      __path__: /var/log/*.log


##### systemd #####

- job_name: systemd-journal-log
  journal:
    json: false
    max_age: 12h
    labels:
     job: systemd-journal
     host: debx240
    path: /var/log/journal


  relabel_configs:
   - source_labels: ['__journal__systemd_unit']
     target_label: 'unit'
   - source_labels: ['__journal__hostname']
     target_label: 'hostname'
   - source_labels: ['__journal_priority_keyword']
     target_label: 'level'
