server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
- job_name: system-journal
  journal:
    max_age: 12h
    labels:
      job: systemd-journal
  relabel_configs:
    - source_labels: ['__journal__hostname']
      target_label: 'hostname'
    - source_labels: ['__journal_priority']
      target_label: 'level'
 

# DOCKER CONTAINER LOGS 
- job_name: docker-container
  docker_sd_configs:
    - host: unix:///var/run/docker.sock
      refresh_interval: 15s
  
  relabel_configs:
    - source_labels: ['__meta_docker_container_name']
      target_label: container
      regex: '/(.*)'
      replacement: '$1'

    - source_labels: ['__meta_docker_container_image']
      target_label: image
    
    - source_labels: ['__meta_docker_container_id']
      target_label: __path__
      replacement: /var/lib/docker/containers/$1/$1-json.log

    - target_label: job
      replacement: docker-container
    
    - target_label: host
      replacement: official-site

  pipeline_stages:
    - docker: {}