server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
- job_name: system
  static_configs:
  - targets:
      - localhost
    labels:
      job: varlogs
      __path__: /var/log/*log


##### systemd #####

- job_name: journal
  static_configs:
  - targets: 
      - systemd
    labels:
      path: /var/log/journal
      max_age: 24h
      job: systemd-journal
